.contact-form {
  display: grid;
  grid-template-columns: 30% 70%;
  gap: 2rem 2rem;
}

.contact-form-field {
  width: 80%;
  border-radius: 0.375rem;
  border-width: 0;
  padding-left: 0.875rem;
  padding-right: 0.875rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  color: #374151;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  box-sizing: border-box;
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.contact-form-button {
  align-items: center;
  background-color: #0a66c2;
  border: 0;
  border-radius: 100px;
  box-sizing: border-box;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 20px;
  max-width: 480px;
  min-height: 40px;
  min-width: 0px;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 20px;
  text-align: center;
  position: relative;
  left: 1rem;
}

.contact-form-button:hover {
  background-color: #16437e;
  color: #ffffff;
}
