body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}

header {
  background-image: url("https://external-preview.redd.it/mNvcfnwvPPPopaGh_FXD03xGfT3xN3yzsONrBK43KDc.jpg?auto=webp&s=0ff98ccc95903fe5c1b8549392a09593c70d9711");
  background-size: cover;
  height: 40vw;
  margin-left: 0;
  margin-right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 36pt;
  color: white;
}

main {
  padding: 10px 100px 10px 100px;
}

#profile-picture {
  border-radius: 50%;
  width: 150px;
}

a {
  color: black;
  font-weight: bold;
  text-decoration: none;
}

h1.page-title {
  font-size: 5rem;
}
