.navbar {
  position: relative;
  display: flex;
  height: 4rem;
  width: 100%;
  justify-content: space-between;
  box-shadow: 0 3px 10px black;
}

.navbar-links {
  justify-content: space-evenly;
  display: inline-flex;
  gap: 2rem;
  align-items: center;
  padding-right: 3rem;
}

.navbar-title {
  font-size: x-large;
  display: inline-flex;
  align-items: center;
  padding-left: 5rem;
}

a.navbar-link:hover {
  border-color: #d1d5db;
  color: #4b5563;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}
